header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  height: 100px;
}

.flex {
  margin: 0px 10px;
}

header h1 {
  font-size: 2.1rem;
}

nav a {
  padding-left: 40px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

nav a:hover {
  color: red;
  font-weight: 900;
  font-size: 2rem;
  transition: linear;
}